{% extends 'base.html' %}


{% block title %}
About us
{% endblock title %}



{% block body %}

<div class="container">

  <div style="text-align:center;background-color:#FE9E13;color:black" class="about-section">
    <h1> About me</h1>
    <p style="font-size:30px;color:black"> Hi there my name is <strong>Muhammad Sami</strong> and I am a Computer Science student and this is my very first python-django project. Hope you will like this basic website project. Also it is free to use for anyone.</p>
  </div>

</div>

{% endblock body %}

