{% extends 'base.html' %}


{% block title %}
About us
{% endblock title %}



{% block body %}

<div class="container">

  <div style="text-align:center;background-color:#FE9E13;color:black" class="about-section">
    <h1> About Us</h1>
    <p style="font-size:30px;color:black"> We are the CS students of <strong>Comsats University</strong> and we have developed this
      site by mutual coordination of Front and Back-End</p>
  </div>
  <br>
  <div class="row">
    <div class="column">
      <center>
        <img src="static/picture3.jpg" style="width:12%">

        <div class="container">
          <h2>Muhammad Sami</h2>
          <p class="title" style="font-size:20px">Student: 1</p>
          <p> </p>
      </center>
    </div>
  </div>
</div>
<br>
<div class="column">
  <center>
    <img src="static/picture4.jpg" style="width:9%">
    <div class="container">
      <h2>Nazir Hussain</h2>
      <p class="title" style="font-size:20px">Student: 2</p>
      <p> </p>
  </center>
</div>
</div>
</div>

</div>

{% endblock body %}

